@import "./variables.scss";

.title {
    @extend %title;
}

.container-for-block {
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

.block-generator-pass {
    background-color: rgba(10, 10, 10, 1);
    border: 1px solid rgba(46, 46, 46, 1);
    border-radius: 8px;
    width: 610px;
    backdrop-filter: blur(24px);

    &__form-title {
        @extend %form-title;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 21px 20px 0 20px;
    }

    &__line {
        margin: 24px 0;
        border: none;
        height: 1px;
        background-color: rgba(46, 46, 46, 1);
    }

    &__bottom {
        padding: 0 24px 24px 24px;
    }
}

.block-results {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    background-color: rgba(10, 10, 10, 1);
    border: 1px solid rgba(46, 46, 46, 1);
    border-radius: 8px;
    width: 610px;
    height: fit-content;

    &__form-title {
        @extend %form-title;
    }
}
